<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="3rdLib;Lib" />
        </assemblyBinding>
    </runtime>
  <appSettings>

    <!-- (1)数据库的IP地址 -->
    <add key="strDbIpAddr"  value="127.0.0.1" />

    <!-- (2)FTP服务器的IP地址 -->
    <add key="strFtpIpAddr" value="172.17.1.103" />

    <!-- (3)Log的输出等级， 
         DEBG = 0, INFO = 1,
         WARN = 2, EROR = 3 
    -->
    <add key="logOutputLevel" value="0" />

    <!-- (4)Log的输出类型， 
         File = 0 
         Net  = 1
         Both = 2
    -->
    <add key="logOutputType" value="0" />

    <!-- (5)Log接收的服务器IP地址 -->
    <add key="strLogIpAddr" value="127.0.0.1" />

    <!-- (6)Log接收的服务器端口 -->
    <add key="strLogPort" value="12345" />
    
    <!-- (7)Scanner后台服务器调试模式 -->
    <add key="strAppDebugMode" value="1" />

    <!-- (8)数据库上传IMSI的开关 -->
    <add key="strDbSwitch" value="1" />   

    <!-- (9)数据库的名称 -->
    <add key="strDbName" value="scanner_server" />

    <!-- (10)数据库用户名 -->
    <add key="strDbUserId" value="root" />

    <!-- (11)数据库密码（密文） -->
    <add key="strDbUserPsw" value="Af8SZ2BneUw=" />

    <!-- (12)数据库端口号 -->
    <add key="strDbPort" value="3306" />    

    <!-- (13)数据库批量更新的记录数的等级
         4: 50,100,150,200
         5: 50,100,150,200,250
         6: 50,100,150,200,250,300
         7: 50,100,150,200,250,300,350
         8: 50,100,150,200,250,300,350,400
    -->
    <add key="strDbBatchUpdateRecordsLevel" value="6" />

    <!-- (14)FTP上传IMSI的开关 -->
    <add key="strFtpSwitch" value="1" />    

    <!-- (15)FTP的登录用户名 -->
    <add key="strFtpUserId" value="ftpuser" />

    <!-- (16)FTP的登录密码（密文） -->
    <add key="strFtpUserPsw" value="S4N5N1nIj1Y=" />

    <!-- (17)FTP的端口号 -->
    <add key="strFtpPort" value="21" />

    <!-- (18)FTP的IMSI目录 -->
    <add key="strFtpImsiDir" value="IMSI" />

    <!-- (19)FTP的Update目录 -->
    <add key="strFtpUpdateDir" value="Update" />        

    <!-- (1)FTP的批量更新记录数的等级
         4: 50,100,150,200
         5: 50,100,150,200,250
         6: 50,100,150,200,250,300
         7: 50,100,150,200,250,300,350
         8: 50,100,150,200,250,300,350,400
    -->
    <add key="strFtpBatchUpdateRecordsLevel" value="6" />    

    <!-- (20)ZYF-CDMA的端口号 -->
    <add key="strStartPortCDMA_ZYF" value="14783" />

    <!-- (21)ZYF-GSM的端口号 -->
    <add key="strStartPortGSM_ZYF" value="14784" />    
    
    <!-- (22)HJT-GSM的端口号 -->
    <add key="strStartPortGSM_HJT" value="14785" />

    <!-- (23)LTE的端口号 -->
    <add key="strStartPortLTE" value="14786" />

    <!-- (24)TDS的端口号 -->
    <add key="strStartPortTDS" value="14787" />        

    <!-- (25)WCDMA的端口号 -->
    <add key="strStartPortWCDMA" value="14788" />

    <!-- (26)Windows的端口号 -->
    <add key="strStartPortAppWindows" value="14789" />

    <!-- (27)Linux的端口号 -->
    <add key="strStartPortAppLinux" value="14790" />

    <!-- (28)Android的端口号 -->
    <add key="strStartPortAppAndroid" value="14791" />

    <!-- (29)Ap在线检测时间。单位(秒)（如果在该时间内未收到AP的心跳消息，认为AP下线） -->
    <add key="apOnLineTime"  value="30" />

    <!-- (30)App在线检测时间。单位(秒)（如果在该时间内未收到AP的心跳消息，认为APp下线） -->
    <add key="appOnLineTime" value="80" />
    
    <!-- (31)数据库最大的Idle时间，秒数 -->
    <add key="strDbMaxIdleSeconds" value="30" />
    
    <!-- (32)FTP的最大Idle时间，秒数 -->
    <add key="strFtpMaxIdleSeconds" value="60" />      
    
    <!-- (33)检查FTP Server的连接状态的频率，秒数 -->
    <add key="checkFtpConnStat" value="60" />
        
    <!-- (34)对捕到的号是否进行去掉重复处理 -->
    <add key="removeDupMode" value="0" />

    <!-- (35)去重的时间长度，分钟-->
    <add key="removeDupTimeLength" value="120" />

    <!-- (36)搜索历史记录的页大小，记录数-->
    <add key="recordsOfPageSize" value="200" />

    <!-- (37)计时器的超时时间，单位(秒) -->
    <add key="timerTimeOutInterval" value="5" />

    <!-- (38)是否用模拟器进行性能测试 -->
    <add key="simuTest" value="0" />

    <!-- (39)数据对齐基准:0数据库为基准，1以Ap为基准，2不对齐 -->
    <add key="dataAlignMode" value="2" />

    <!-- (40)号码归属地计算方式：0直接从接口，1接口加哈希 -->
    <add key="imsiParseMode" value="1" />

    <!-- (41)每个Log文件的大小，单位为MB -->
    <add key="logMaxSize" value="10" />

    <!-- (42)Logger的最大Idle时间，秒数 -->
    <add key="logMaxIdleSeconds" value="10" />

  </appSettings>
</configuration>