<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <!-- Scanner后台服务器调试模式 -->
    <add key="strAppDebugMode" value="1" />

    <!-- 数据库总开关 -->
    <add key="strDbSwitch" value="1" />

    <!-- 数据库的IP地址 -->
    <add key="strDbIpAddr" value="127.0.0.1" />

    <!-- 数据库的名称 -->
    <add key="strDbName" value="scanner_server" />

    <!-- 数据库用户名 -->
    <add key="strDbUserId" value="root" />

    <!-- 数据库密码（密文） -->
    <add key="strDbUserPsw" value="Af8SZ2BneUw=" />

    <!-- 数据库端口号 -->
    <add key="strDbPort" value="3306" />    

    <!-- 数据库批量更新的记录数的等级
         4: 50,100,150,200
         5: 50,100,150,200,250
         6: 50,100,150,200,250,300
         7: 50,100,150,200,250,300,350
         8: 50,100,150,200,250,300,350,400
    -->
    <add key="strDbBatchUpdateRecordsLevel" value="6" />

    <!-- 数据库最大的Idle时间，秒数 -->
    <add key="strDbMaxIdleSeconds" value="20" />

    <!-- FTP总开关 -->
    <add key="strFtpSwitch" value="1" />

    <!-- FTP的IP地址 -->
    <add key="strFtpIpAddr" value="172.17.1.207" />

    <!-- FTP的登录用户名 -->
    <add key="strFtpUserId" value="ftpuser" />

    <!-- FTP的登录密码（密文） -->
    <add key="strFtpUserPsw" value="S4N5N1nIj1Y=" />

    <!-- FTP的端口号 -->
    <add key="strFtpPort" value="21" />

    <!-- FTP的IMSI目录 -->
    <add key="strFtpImsiDir" value="IMSI" />

    <!-- FTP的Update目录 -->
    <add key="strFtpUpdateDir" value="Update" />        

    <!-- FTP的批量更新记录数的等级
         4: 50,100,150,200
         5: 50,100,150,200,250
         6: 50,100,150,200,250,300
         7: 50,100,150,200,250,300,350
         8: 50,100,150,200,250,300,350,400
    -->
    <add key="strFtpBatchUpdateRecordsLevel" value="6" />

    <!-- FTP的最大Idle时间，秒数 -->
    <add key="strFtpMaxIdleSeconds" value="20" />

    <!-- ZYF-CDMA的端口号 -->
    <add key="strStartPortCDMA_ZYF" value="14783" />

    <!-- ZYF-GSM的端口号 -->
    <add key="strStartPortGSM_ZYF" value="14784" />    
    
    <!-- HJT-GSM的端口号 -->
    <add key="strStartPortGSM_HJT" value="14785" />

    <!-- LTE的端口号 -->
    <add key="strStartPortLTE" value="14786" />

    <!-- TDS的端口号 -->
    <add key="strStartPortTDS" value="14787" />

    <!-- WCDMA的端口号 -->
    <add key="strStartPortWCDMA" value="14788" />

    <!-- Windows的端口号 -->
    <add key="strStartPortAppWindows" value="14789" />

    <!-- Linux的端口号 -->
    <add key="strStartPortAppLinux" value="14790" />

    <!-- Android的端口号 -->
    <add key="strStartPortAppAndroid" value="14791" />

    <!-- Ap在线检测时间。单位(秒)（如果在该时间内未收到AP的心跳消息，认为AP下线） -->
    <add key="apOnLineTime"  value="30" />

    <!-- App在线检测时间。单位(秒)（如果在该时间内未收到AP的心跳消息，认为APp下线） -->
    <add key="appOnLineTime" value="80" />

    <!-- Log的输出等级， DEBG = 0,INFO = 1,WARN = 2,EROR = 3 -->
    <add key="logOutputLevel" value="0" />

    <!-- 检查FTP Server的连接状态的频率，秒数 -->
    <add key="checkFtpConnStat" value="100" />

    <!-- 对捕到的号是否进行去掉重复处理 -->
    <add key="removeDupMode" value="0" />

    <!-- 去重的时间长度，分钟-->
    <add key="removeDupTimeLength" value="120" />

    <!-- 搜索历史记录的页大小，记录数-->
    <add key="recordsOfPageSize" value="200" />

    <!-- 计时器的超时时间，单位(秒) -->
    <add key="timerTimeOutInterval" value="5" />

    <!-- 是否用模拟器进行性能测试 -->
    <add key="simuTest" value="0" />

    <!-- 数据对齐基准:0数据库为基准，1以Ap为基准，2不对齐 -->
    <add key="dataAlignMode" value="2" />

    <!-- 号码归属地计算方式：0直接从接口，1接口加哈希 -->
    <add key="imsiParseMode" value="1" />

  </appSettings>
</configuration>